
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #faf7f6;
  color: #4A2C2A;
  width: 80%;
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  
}
/*navegation*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #ffffff;
  border-bottom: 2px solid #eaeaea;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.social-media a {
  text-decoration: none;
  color: #333;
  margin-left: 15px;
}

.navbar a.active {
    font-weight: bold; 
    border-bottom: 2px solid #8c4730; 
    color: #8c4730;
}

.navbar ul li a:hover {
  color: #8c4730;
  transition: color 0.3s ease;
}

section {
  padding: 80px 0;
  border-bottom: 2px solid #ddd;
}
/*tous les titres*/
h2, h1 {
  text-align: center;
  font-weight: bold;
  color: #8c4730;
  font-size: 30pt;
}

/*Container*/
.image-text-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-container {
  flex: 1;
  text-align: right;
}
.image-container img {
  max-width: 80%;
  border-radius: 10px;
}
.text-container {
  flex: 1;
  padding: 20px;
  font-size: 30pt;
}
.text-container h3 {
  color: #555;
  font-size: 20px;
}
.text-container p {
  font-size: 18px;
  color: #666;
  font-size: 24px;
  
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}
.grid-item img {
  width: 100%;
  border-radius: 10px;
}
/*footer*/
.footer {
  text-align: center;
  background-color: #4A2C2A;
  color: #fff;
  padding: 20px;
  border-top: 2px solid #eaeaea;
}
.logo-footer {
  max-width: 150px;
}
.footer p {
  margin: 5px 0;
  color: #fff;
}
.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #4A2C2A;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.footer-section {
  width: 30%;
}

.footer-section h4 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.footer-section p, .footer-section a {
  font-size: 14px;
  color: #E8D0C9;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

/* Conteneur du slider */
.slider {
  display: flex;
  overflow: hidden;
  width: 90%;
  margin: 40px auto;
  overflow: hidden; 
}
  .slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
  }

   
  .slide img {
    width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  display: block;
}
   
.image-container {
    max-width: 50%;
    height: auto; /* Mantiene la proporción */
    border-radius: 10px;
    object-fit: contain; /* Asegura que la imagen se ajuste sin recortarse */
    flex: 0.8;
    float: left;
  }
 
  @media (max-width: 768px) {
    .image-container img {
      max-width: 80%;
    }
  }

.grid-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
}
.text-container {
  
    text-align: justify;
    width: 50%; 
    float: left; 
    padding: 20px;
}
.grid-item {
    width: 100%; 
    height: auto;
}

.product-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
}
/* Produits */
.product {
    border: 1px solid #ddd; 
    padding: 15px; 
    text-align: center;
}

.side-img {
  width: 100%; 
  height: auto;
}

.storecontact-img {
    padding: 20px;
}

.image-container-contact{
    display: flex; 
    justify-content: center; 
    gap: 20px; flex-wrap: wrap;
    
}

.img-subcontainer{
    flex: 1 1 45%;
    text-align: center;
    max-width: 300px; 
}

/* location */
.img-location {
    width: 100%; 
    border-radius: 10px;
    max-width: 300px; 
    height: auto;
}

.location-p {
    margin-top: 10px;
}

.contact-form {
    max-width: 600px; 
    margin: auto;
}

.input-container {
    margin-bottom: 15px;
}

.label-form {
    display: block; font-weight: bold;
}

.input-form {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.button-form {

    background-color:#4A2C2A; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

/* 2 text-colteseda */
.text-about {  
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding: 24px;
  font-size: 24px;
  text-align: justify;
  margin-right: 10px

} 

/* text-colteseda */
.text-about p {
  flex: 1; 
  margin-top: 10px; 
  text-align: center; 
  padding: 10px;
  font-size: 24px;
  justify-content: center;
  margin-right: 10px
} 

/*Image grupo artesanas*/
.img-artesanas {
  width: 100%;
  border-radius: 8px;
  flex: 1; 
  max-width: 50%; 
  height: 30%;
}

.img-product {
  width: 100%; 
  height: auto;
}

.section-about-liste {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0;
    font-size: 24px;
}

/*Lista de valores*/
.container-list {
    flex: 1; 
    text-align: center; 
    max-width: 50%; 
    box-sizing: border-box;
}


/*Imagen comercializando*/
.img-commercializando {
  width: 100%;
  max-width: 90%; 
  height: auto;
  padding: 10px;
  margin-left: 40px;
}

.section-franja {
    background-color: #4A2C2A; 
    padding: 30px; 
    text-align: center; 
    margin: 20px 0;
}

.product li {
    list-style-type: none;
}

header {
  background-color: #84492D;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10%;
  background-color: #FFFFFF;
}

.text-container {
  width: 50%;
  padding-right: 20px;
  margin-right: 50px;
  margin-left: 10px;
}

.image-container {
  width: 50%;
}

.image-container img {
  width: 100%;
  border-radius: 8px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 40px 10%;
  background-color: #E8D0C9;
}

.gallery img {
  width: 20%;
  border-radius: 8px;
}

.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10%;
  background-color: #FFFFFF;
}

.info-text {
  width: 50%;
  padding-right: 20px;
}

.info-image {
  width: 50%;
}

.info-image img {
  width: 100%;
  border-radius: 8px;
}
.list-about-container{
  flex: 1; 
  max-width: 50%; 
  box-sizing: border-box; 
  padding: 10px; 
  text-align: justify;
  margin-right: 10%;
}

.list-about-container p{
  font-size: 20px;
}

.video{
  position: relative; 
  width: 100%; 
  padding-top: 56.25%;
  padding-bottom: 40%;
  margin-bottom: 20px;
}

.img-container-contact{
  display: flex; 
  justify-content:center; 
  gap: 20px; 
  flex-wrap: wrap;
}
.allerformulaire {
  padding: 10px 20px; 
  background-color: #8c4730; 
  color: white; 
  text-decoration: none; 
  border-radius: 5px; 
  font-size: 16px;
}



/* Responsive Design */

@media (max-width: 768px) {
  header {
    height: 12vh;
  }
  .slider {
    height: 50vh;
  }
  footer {
    height: 12vh;
  }
}  



@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }
  .section-container, .info-section {
    flex-direction: column;
    padding: 30px 5%;
  }
  .text-container, .info-text {
    padding-right: 0;
  }
  .gallery img {
    width: 45%;
  }
}

@media (max-width: 480px) {
  body {
    width: 100%;
    padding: 0 10px;
  }
  .navbar ul {
    gap: 5px;
  }
  .gallery img {
    width: 100%;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}